@font-face {
    font-family: GrandHotel;
    src: url(GrandHotel-Regular.otf);
    font-family: PFD-BlackItalic;
    src: url(PlayfairDisplay-BlackItalic.otf);
    font-family: PFD-Bold;
    src: url(PlayfairDisplay-Bold.otf);
    font-weight: bold;
    
    font-family: PFD-Italic;
    src: url(PlayfairDisplay-Italic.otf);
    font-family: PFD-Regular;
    src: url(PlayfairDisplay-Regular.otf);
    }
    

body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.plants {
    font-family: GrandHotel;
    font-size: 2em;
    color: #006633;
}

h3 {
    font-family: PFD-Bold;
}

h4 {
    font-family: PFD-Italic;
}

p.zone {
    font-family: PFD-Regular;
    font-size: .5em;
}

p.light {
    font-family: PFD-Regular;
    font-size: .5em;
}

p.price {
    font-family: PFD-Regular;
    font-size: .5em;
}

p.availability {
    font-family: PFD-Regular;
    font-size: .5em;
}
