body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Josefin Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Josefin Sans', sans-serif;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div {
    font-family:'Josefin Sans', sans-serif;
}

h1.plants {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #006633;
}

dt {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    color: #003300;
}

dd.botanical {
    font-family: 'Nanum Myeongjo', serif;
    color: #206040;
    font-size: 1em;
    font-style: italic;
}

dd {
    font-family: 'Josefin Sans', sans-serif;
    color: #1f1f2e;
    font-size: .85em;
}

h1.mlb {
    font-family: 'Shrikhand', cursive;
    color: #002266;
}

h2.mlb {
    font-family: 'Shrikhand', cursive;
    font-size: 1.5em;
    color: #132639;
    text-align: center;
}

p.mlb {
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #00264d;
}

table, th, td {
   font-family: 'Fira Sans Condensed', sans-serif;
   color: #ffffff;
   border: 2px #002266;
   padding: 10px;
   text-align: center;
}

th {
  font-style: italic;  
}

tr {
    font-family: 'Fira Sans Condensed', sans-serif;
    color:  #ffffff;
    background-color: #000080;
}
