@charset "UTF-8";

@font-face {

    font-family: OpenSans;
    src: url(OpenSans-Regular.ttf);
    
    font-family: Communist;
    src: url(COMMUNIS.ttf);
}

details {
    font-family: OpenSans, sans-serif;
    font-size: .5em;
    text-align: left;
}

body {
    font-family: 'Noto Serif', serif;
    padding-right: 300px;
    padding-left: 300px;
    line-height: normal;
}


p {
    padding-left: 10px;
}

span{
    font-family: Communist, serif;
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 50px;
    padding: 40px;
}