@charset "UTF-8";
/* CSS Document */

*{display: block;}

[rendition~="#center"] {text-align:center;} 
[rendition~="#x-large"] {font-size: 150%;}
[rendition~="#red"] {color: red;}

space[quantity="5"] {padding: 50px;}


/* display an attribute value using CSS for the missing 1904 */
/* be aware of the line break and expanded (give letter spacing a pixel value) */