body {
  margin-right: 150px;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
}

h3 {
 font-family: 'Josefin Sans', sans-serif;
}

dt {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
}


dd.date {
  font-family: 'Josefin Sans', sans-serif;
  font-color: #29293d;
  
}

dd.degree {
  font-family: 'Josefin Sans', sans-serif;
  font-color: #29293d;
  font-style: italic;
}

dd.position {
  font-family: 'Josefin Sans', sans-serif;
  font-color: #29293d;
  font-style: italic;
}

dd, li {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .85em;
}

