body {
  margin-right: 150px;
}
h1 {
  font-family: 'Nanum Myeongjo', serif;
}

h3 {
  font-family: 'Nanum Myeongjo', serif;
}

dt {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 1em;
}


dd.date {
  font-family: 'Alegreya Sans', sans-serif;
  font-color: #29293d;
  
}

dd.degree {
  font-family: 'Alegreya Sans', sans-serif;
  font-color: #29293d;
  font-style: italic;
}

dd.position {
  font-family: 'Alegreya Sans', sans-serif;
  font-color: #29293d;
  font-style: italic;
}

dd, li {
  font-family: 'Alegreya Sans', sans-serif;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
