@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family: 'PT Serif', serif;
	font-family: 'Cormorant Garamond', serif;
}

body {
	border: 10px;
border-color:#990000;
}

dt {
	font-family: 'Cormorant Garamond', serif;
}

h2{
	font-family: 'PT Serif', serif;
	}

h3{
	font-family: 'PT Serif', serif;
	}
	
	dl{
	font-family: 'Cormorant Garamond', serif;
	}

.gesture {
	font-family: 'Cormorant Garamond', serif;
	font-style:italic;
	}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
	font-family: 'Cormorant Garamond', serif;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
