<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/don-juan-style.css">
			<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|PT+Serif" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/final/DonJuan/index.html">Don Juan</a></li>
	        		<li><a href="/final/DonJuan/Act1/index.html">Act One</a></li>
				<li><a href="/final/DonJuan/Act2/index.html">Act Two</a></li>
				<li><a href="/final/DonJuan/Act3/index.html">Act Three</a></li>
				<li><a href="/final/DonJuan/Act4/index.html">Act Four</a></li>
				<li><a href="/final/DonJuan/Act5/index.html">Act Five</a></li>
	        		
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chloe.dufour16@gmail.com">email</a></li>
	        		<li><a href="https://github.com/chloedufour">github.com/chloedufour</a></li>
				</ul>
			</footer>
		</body>
	</html>
