<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/don-juan-style.css">
			<link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|PT+Serif" rel="stylesheet">
		</head>
		<body>
			<div class="navbar">
  <a href="/final/DonJuan/index.html">Don Juan</a>
  <div class="dropdown">
    <button class="dropbtn">Act One
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/final/DonJuan/Act1/enscene1.html">Scene One</a>
      <a href="/final/DonJuan/Act1/enscene2.html">Scene Two</a>
      <a href="/final/DonJuan/Act1/enscene3.html">Scene Three</a>
    </div>
  </div> 
	  <div class="dropdown">
    <button class="dropbtn">Act Two
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/final/DonJuan/Act2/enscene1.html">Scene One</a>
      <a href="/final/DonJuan/Act2/enscene2.html">Scene Two</a>
      <a href="/final/DonJuan/Act2/enscene3.html">Scene Three</a>
	      <a href="/final/DonJuan/Act2/enscene4.html">Scene Four</a>
      <a href="/final/DonJuan/Act2/enscene5.html">Scene Five</a>
    </div>
  </div>
		  
		    <div class="dropdown">
    <button class="dropbtn">Act Three
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/final/DonJuan/Act3/enscene1.html">Scene One</a>
      <a href="/final/DonJuan/Act3/enscene2.html">Scene Two</a>
      <a href="/final/DonJuan/Act3/enscene3.html">Scene Three</a>
	      <a href="/final/DonJuan/Act3/enscene4.html">Scene Four</a>
      <a href="/final/DonJuan/Act3/enscene5.html">Scene Five</a>
    </div>
  </div>
			    
			      <div class="dropdown">
    <button class="dropbtn">Act Four
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/final/DonJuan/Act4/enscene1.html">Scene One</a>
      <a href="/final/DonJuan/Act4/enscene2.html">Scene Two</a>
      <a href="/final/DonJuan/Act4/enscene3.html">Scene Three</a>
	      <a href="/final/DonJuan/Act4/enscene4.html">Scene Four</a>
      <a href="/final/DonJuan/Act4/enscene5.html">Scene Five</a>
	      <a href="/final/DonJuan/Act4/enscene6.html">Scene Six</a>
	      <a href="/final/DonJuan/Act4/enscene7.html">Scene Seven</a>
      <a href="/final/DonJuan/Act4/enscene8.html">Scene Eight</a>
    </div>
  </div>
				<div class="dropdown">
				       <button class="dropbtn">Act Five
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/final/DonJuan/Act5/enscene1.html">Scene One</a>
      <a href="/final/DonJuan/Act5/enscene2.html">Scene Two</a>
      <a href="/final/DonJuan/Act4=5/enscene3.html">Scene Three</a>
	      <a href="/final/DonJuan/Act5/enscene4.html">Scene Four</a>
      <a href="/final/DonJuan/Act5/enscene5.html">Scene Five</a>
	      <a href="/final/DonJuan/Act5/enscene6.html">Scene Six</a>
	
    </div>
  </div>
</div>
			
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chloe.dufour16@gmail.com">email</a></li>
	        		<li><a href="https://github.com/chloedufour">github.com/chloedufour</a></li>
				</ul>
			</footer>
		</body>
	</html>

